*{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 595px;
    height: 842px;
    border: 1px solid gray;
}
.border-part{
    height: 105px;
    background-color: #F0982E;
    color: white;
    margin-bottom: 0;
    overflow: hidden;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
.union{
    margin-left: 157px;
    position: absolute;
}
.logo{
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}
.horizontal-line{
    width: 200px;
    height: 1px;
    background-color:#707070;;
    margin: 0 30px 0 30px;
}
.top-part{
    width: 264px;
    height: 227px;
    background: #49A39D ;
    color:white;
    margin-top: 0;
    float: left;
}
.big-letter{
    font-size: 55px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Segoe UI';
}
.small-letter{
    font-size: 12px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.same-letter{
    font-size: 26px;
    text-align: center;
    margin-bottom: 0;
}
.letter{
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.img-1{
    width: 331px;
    height: 227px;
    float:right;
    
}
.img{
    width: 30%;
    float:left;
    margin-right: 5px;
}
.img-2{
    width: 174px;
    height: 112px;
    margin-top: 10px;
}
.half-width{
    width:69%;
    float:left;
    font-size: 10px;
    margin-top: 10px;
}
.social-icons .fa-map-marker-alt{
    color: #49A39D;
    margin: 0 50px 0 100px;
    float:left;
    position: relative;
}
.circle{
    background-color: #F0982E;
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 50%;
    top: 575px;
    left: 304px;
}
.agent{
    float:right;
}
.top-right {
    position: absolute;
    top: 187px;
    left: 264px;
   padding-left: 10px;
}
.top-right p{
    font-size: 15px;
    text-align: center;
    color:white;
    position: absolute;
    left:50px;
    line-height: 40px;
}
#pointer {
    width: 322px;
    height: 40px;
    position: relative;
    background:#F0982E;
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #AFA1B5 ;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .top-left {
    position: absolute;
    top: 510px;
    left: 174px;
   padding-left: 15px;
}
.top-left p{
    font-size: 14px;
    text-align: center;
    color:white;
    position: absolute;
    margin-top:2px ;
}
  #shape-1 {
    width: 280px;
    height: 24px;
    position: relative;
    background:#F0982E;
    margin-left: 5px;
  }
  #shape-1:before {
        content: "";
        position: absolute;
        right: -12px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 12px solid #F0982E;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
      }
      .flag-shape{
        position: absolute;
        top:720px;
        left: 0px;
      }
      #footer {
        position: absolute;
        bottom: 0;
        width: 580px;
        top: 780px;
        left: 15px;
        font-size: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
         }         
       .vertical-line{
        width: 595px;
        height: 8px;
        background-color:#49A39D;
        margin-top: 5px;
        position: absolute;
        top: 800px;
       } 
       .vertical-half-line{
           position: relative;
           height: 8px;
           width: 242px;
           background-color: #F0982E;
           top: 635px;
           margin: 0px 170px 0px 170px;
       }
